
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
{#    <script type="text/javascript">{{script}}('{{wrong}}')</script>1#}
</head>
<body>
<div style="margin: 15% 40%;">
    <h1>欢迎登录！</h1>
    <form method="post">{% csrf_token %}
        <p>
            <label for="id_username">用户名：</label>
            <input type="text" id="id_username" name="username" placeholder="用户名" autofocus required />
        </p>

        <p>
            <label for="id_password">密码：</label>
            <input type="password" id="id_password" placeholder="密码" name="password" required >
        </p>
        <input type="submit" value="确定">

    </form>
    <p>{{ msg }}</p>
{#    <p> 退出登录  </p>#}
{#    {%  if username == '游客'  %}#}
{#        <li></li>#}
{#    {% endif %}#}
{#    {%  if not user2   %}#}
{#        <li>user2是不存在的</li>#}
{#    {% endif %}#}

</div>



</body>
