<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>JQuery局部页面动态刷新</title>
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            <!--直接载入页面-->
            var comment = $('#comment');
            $('#refresh').click(function() {
                comment.children().remove();
                comment.load('comment.html #comment');//用法参考jQuery的load函数
            });

            <!--与服务器进行交互-->
            var comment = $('#comment');
            $('#refresh').click(function() {
                dynamicData('comment');
            });

            function dynamicData(param) {
                comment.children().remove();

                $.ajax({
                    type : 'POST',
                    url : '/comment_servlet',//java中的Servlet路径
                    data : 'page=' + param,
                    success : function(result) {//回调函数,result与上面load参数的类似，可以是jsp文件的路径
                        comment.load(result);
                    }
                });
            }

        });
    </script>
</head>
<body>
<input type="button" id="refresh" value="局部刷新" />
<div id="comment"></div>
</body>
</html>