<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>hello world</h1>
<p>{{my_text}},{{my_number }}</p>
<p>*{{register.values_list}}*</p>


<!--if 语句的格式 -->
{% if my_number %}
    <h1>we are here</h1>
{% endif %}
<!--for 语句的格式 -->
<h1>寄存器列表</h1>
<ul>
{% for foo in register %}
    <li>{{ foo.v_name }},{{ foo.v_status }}  </li>

{% empty %}
    <p>目前没有寄存器</p>

{% endfor %}

<!--comment 注释多哼 语句的格式 -->
{% comment %}
    <comment>
 <p> heeellelele</p>
    <p> world-----</p>
{% endcomment %}

<!--ifequal ifnotequal 语句的格式 -->
{% ifequal 'hello' 'hello' %}
    <p> 这俩值相等</p>

{% endifequal %}


<!--include 语句的格式 -->


<!--url f反向解析 语句的格式 -->

<!--csrf_token   跨站请求保护语句的格式 -->



</ul>


<div>
{% for foo in register %}
    <li>{{ foo.v_name }},{{ foo.v_status }}  </li>
{% endfor %}


<div class="layui-input-inline">
                <input type="text" class="layui-input" id="test5" placeholder="yyyy-MM-dd HH:mm:ss" lay-key="6">
              </div>
<script src="/static/mywebsite/laydate/laydate.js"></script>

<script>

laydate.render({
  elem: '#test5'
  ,type: 'datetime'
})


</script>








</div>

</body>
</html>